body {
  background: #161616;
  font-family: 'Roboto', sans-serif;
  cursor: url("images/cursor.png"), none;
}
input{
  position: relative;
  left: -15px;
  width: 160px;
  height: 29px;
  text-align: center;
  color: #82cbff;
  background-color:#18272d;
  padding: 3px;
  box-shadow: 0px 0px 9px #101a1e inset;
  border:none; 
}
textarea{
  position: relative;
  top:3px;
  resize: none;
  color: black;
  background-color:#bce3ff;
  padding: 3px;
  border:none; 
  height: 125px;
  width: 190px;
}
.todo-element{
  position: relative;
  width: 200px;
  height: 200px;
  background: skyblue;
  font-size: 1em;
  text-align: center;
  vertical-align: middle;
  box-shadow: 0px 0px 12px #4aa7e8 inset;
  box-shadow: 0px 0px 12px black;
  margin:2px 2px;
  transition: all 0.4s ease 0s;
}
.title{
  position: relative;
  display: flex;
  background: rgba(0,0,0,0.7);
  color: #d1d1d1;
  align-items:center;
  justify-content: center;
  height: 20%;
  font-weight: bold;
}
.title img{
  cursor: url("images/hover_cursor.png"),none;
  position: absolute;
  right: 6px;
  text-align: right;
}
.content-container{
  position: relative;
  height: 80%;
}
.content-container img{
  position: absolute;
  bottom: 3px;
  right: 3px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0px 0px 2px black;
  cursor: url("images/hover_cursor.png"),none;
}
.mainContent{
  padding: 7px;
  display: flex;
  justify-content: center;
  height: 60%;
}
.todo-list-container span{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
}
.add-img{
  position: absolute;
  cursor: url("images/hover_cursor.png"),none;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  z-index: 1;
  transition: all 0.3s ease-out 0s;
}
.add-img:hover{
  translate: scale(1.3,1.3);
}
.intro-container{
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 3px;
  z-index: 2;
  position: absolute;
  top:0;
  left:0;
  background: #161616;
  width:100%;
  height:100%;
  animation: introContainer 4s linear 7s;
  animation-fill-mode: both;
}
.welcome-text{
  opacity: 0;
  color:rgb(209, 209, 209);
  animation: intro 5s linear 2s;
}
.element-anim-enter{
  width: 0px;
  height: 0px;
  transform:translate(0px,-200px);
  opacity: 0;
}

.element-anim-enter.element-anim-enter-active{
  width: 200px;
  height: 200px;
  opacity: 1;
  transform:translate(0px,0px);
}
.element-anim-leave{ 
  width: 200px;
  height: 200px;
  transform: scale(1,1);
  opacity: 1;
}

.element-anim-leave.element-anim-leave-active{
  width: 0px;
  height: 0px;
  transform: scale(1.3,1.3);
  opacity: 0.01;
  transition: all 0.4s ease-out 0s;
}


@keyframes intro{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
@keyframes introContainer{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}