body {
  background: #161616;
  font-family: 'Roboto', sans-serif;
}
input{
  position: relative;
  left: -15px;
  width: 160px;
  height: 29px;
  color: #82cbff;
  background-color:#18272d;
  padding: 3px;
  box-shadow: 0px 0px 9px #101a1e inset;
  border:none; 
}
textarea{
  position: relative;
  top:3px;
  resize: none;
  color: black;
  background-color:#bce3ff;
  padding: 3px;
  border:none; 
  height: 125px;
  width: 190px;
}
.todo-element{
  width: 200px;
  height: 200px;
  background: skyblue;
  font-size: 1em;
  text-align: center;
  vertical-align: middle;
  border-radius: 3px;
  box-shadow: 0px 0px 12px #4aa7e8 inset;
  box-shadow: 0px 0px 12px black;
  margin:10px 10px;
}
.title{
  position: relative;
  display: flex;
  background: rgba(0,0,0,0.7);
  color: #d1d1d1;
  align-items:center;
  justify-content: center;
  height: 20%;
}
.title img{
  cursor: pointer;
  position: absolute;
  right: 6px;
  text-align: right;
}
.content-container{
  position: relative;
  height: 80%;
}
.content-container img{
  position: absolute;
  bottom: 3px;
  right: 3px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0px 0px 2px black;
}
.mainContent{
  padding: 7px;
  display: flex;
  justify-content: center;
  height: 60%;
}
.todo-list-container{
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
